.popup {  
  position: fixed;  
  width: 75%;  
  height: fit-content;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(255, 255, 255, 0.85); 
  border: 2px solid white; 
  border-radius: 5px;
  padding: 10px;
}  

div.popup\_inner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 20px;  
  background: white; 
}

.popup-close-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
}

.headline {
  margin-top: 5vh;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}

.about-body {
text-align: center;
}

.about-body-subtitle {
  text-align: center;
  font-weight: bold;
}

