.menu-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-button-container {
  display: flex;
  justify-content: center;
}

.menu-title {
  text-align: center;
}

.size-description {
  font-size: 10px;
}

#taco-nested-dropdown {
  width: 325px;
  margin: 5px;
  background-color: white;
  color: black;
}

.taco-menu-display {
  width: 100%;
  display: flex;
  margin-top: 20px;
}

#order-total {
  width: 38%;
}

#tacos-in-cart {
  width: 62%;
  text-decoration: none;
}