.address-title {
  text-align: center;
}

div.form-group {
  width: 100%;
}

#address-button {
  width: 100%;
}

/* #maps-container div:first-child {
  width: 335px;
  height: 250px;
  position: relative !important; 
} */