.landing-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#3ca55c,#b5ac49);
}

#login-form-container {
  height: 16rem;
  width: 20rem;
  border: .02px solid rgba(128, 128, 128, 0.25);
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.form-button {
  display: flex;
  justify-content: center;
}

.bg-overlay {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../Images/TTY-Background.png');
  background-size: cover;
}

.title {
  width: 60%;
}

.subtitle {
  width: 30%;
  margin-top: -4%;
}

.about {
  width: 15%;
  margin-top: -1%;
  margin-bottom: 1%;
}