#nav-props {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-title {
  margin-left: 15px;
}

.taco-logo {
  margin-top: -30px;
  margin-bottom: -30px;
  margin-right: 5px;
}
