.main-taco-cont {
 width: 975px;
}

#taco-feed-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

#card-footer {
  align-content: flex-end;
}

#bg-nested-dropdown {
  margin: 0 -7vh;
}

div#filter-button-wrap {
  margin-right: -5vh;
  width: 150px;
}

#cards {
  box-shadow: 0 2px 4px 2px;
}

.taco-filter-title {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.card-body {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}