#taco-feed-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

#card-footer {
  align-content: flex-end;
}

#bg-nested-dropdown {
  margin: 0 -7vh;
}

#filter-button-wrap {
  margin-right: -5vh;
}

